body{
    text-align: center;
}

.sekyear{
    margin: 0 auto;
    width: 720px;
}

.preyear{
    float: left;
}

.nextyear{
    float: left;
}

.box{
    margin: 0 auto;
    width: 720px;
}

.title{
    background: #ccc;
}

table{
    height: 160px;
    width: 160px;
    font-size: 12px;
    text-align: center;
    float: left;
    margin: 10px;
    font-family: arial;
}